:root {
    /* Mode Sombre (par défaut) */
    --fond-histoire: url("https://www.laboiteverte.fr/wp-content/uploads/2013/05/decors-jeu-combat-121-620x465.gif");
    --couleur-texte: #fffffeec;
}

.mode-clair {
    / Mode Clair : Fond blanc et texte noir /
    --fond-histoire: none; / Supprime le GIF de fond /
    --couleur-texte: #000000;
    background-color: #ffffff; / Définit la couleur de fond en blanc /
}
.page-histoire {
    margin: 0;
    padding: 0;
    / Utilisation de la variable pour le fond /
    background-image: var(--fond-histoire); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    / Utilisation de la variable pour le texte /
    color: var(--couleur-texte);
    font-family: Arial, sans-serif;
    transition: 0.3s; / Pour une transition douce entre les modes /
}
.hero-img {
    width: 100%;       / L'image prend toute la largeur de la page  /
    max-height: 400px; / On limite la hauteur pour l'effet bannière  /
    object-fit: cover; / Important : cela évite de déformer l'image en la recadrant proprement /
    display: block;    / Supprime l'espace vide sous l'image /
}
.content-blue-box {
    text-align: center;      / Centre tout le texte /
    / On réduit le padding du haut pour remonter le titre /
    padding: 20px 10% 60px 10%; 
}

.content-blue-box h1 {
    font-size: 4rem;         / Taille de police relative /
    text-transform: uppercase;/ Tout en majuscules /
    margin-top: 0;           / On colle le titre en haut /
}

.content-blue-box p {
    font-size: 1.2rem;       / Texte plus gros /
    text-align: justify;     / Texte bien aligné /
    line-height: 1.6;        / Espacement pour la lisibilité /
    max-width: 1000px;       / Largeur max pour ne pas être trop long /
    margin: 0 auto 20px auto;/ Centre le bloc de paragraphe */

.MenuAccueil {
    color: rgb(254, 206, 102);
    text-decoration: none;
    display: inline-block;
    font-size: 3vw;
    transition: transform 0.3s ease;
    position: absolute; left : 1vw; top : 1vw;
    z-index: 2;
}

.dropdown {
    position: absolute; right : 0vw; top : 0vw; 
    display: inline-block;
}

/* MENU CACHÉ1 */
.dropdown-child {
    display: none;
    position: relative;
    margin-top : 3.8vw;
    padding: 0.4vw;
    z-index: 2;
}

/* Liens du menu */
.dropdown-child a {
    padding: 0.45vw;
    text-decoration: none;
    display: block;
}

.btnAccueil {
    border: 0.2vw solid rgb(201, 163, 81); /*bordure du cadre + taille + couleurs (stroke)*/
    display: inline-block; /*reste en ligne*/
    padding: 0.8vw 1.5vw; /*taille du bouton vertical, horizontale*/
    background-color: rgb(254, 206, 102); /*couleur de l'arrière plan*/
    color: white; /*couleur du texte*/
    text-decoration: none; /*enlever les soulignements avec les liens par ex*/
    border-radius: 3vw; /*arrondissement du bouton (stroke)*/
    font-size: 1vw; /*augmente la taille du texte*/
    transition: transform 0.3s ease; /*transition qui permet d'extendre le cadre en 0.3s*/
    position: absolute; right : 17vw; top : 1vw; /*position du bouton*/
    z-index: 2;
}

.btnAccueil:hover {
    transform: scale(1.05); /*augmenter la taille de 1.05 du bouton*/
    background-color: rgb(222, 165, 41); /*couleur du bouton qui change en ayant le curseur dessus*/
}

.btn3 {
    border: 0.2vw solid rgb(201, 163, 81);
    display: inline-block;
    padding: 0.8vw 1.5vw;
    background-color: rgb(254, 206, 102);
    color: white;
    text-decoration: none;
    border-radius: 3vw;
    font-size: 1vw;
    transition: transform 0.3s ease;
    cursor: pointer;
    position: absolute; right : 0.5vw; top : 1vw;
    z-index: 2;
}

.btn3:hover {
    transform: scale(1.05);
    background-color: rgb(222, 165, 41);
}

.btnHistoireShow {
    border: 0.2vw solid rgb(201, 163, 81);
    display: inline-block;
    padding: 0.8vw 1.5vw;
    background-image: url('https://segaretro.org/images/4/47/HeavyweightChamp_SMS_title.png');
    background-size: cover;
    background-position: center; 
    text-decoration: none;
    text-align: center;
    border-radius: 3vw;
    font-size: 1vw;
    position : absolute;
    z-index: 3;
}

.btnEvolutionShow {
    border: 0.2vw solid rgb(201, 163, 81);
    display: inline-block;
    padding: 0.8vw 1.5vw;
    background-image: url('https://i.ytimg.com/vi/ruMaTvyXwm4/maxresdefault.jpg');
    background-size: cover;
    background-position: center; 
    text-decoration: none;
    text-align: center;
    border-radius: 3vw;
    font-size: 1vw;
    position : absolute;
    z-index: 3;
}

.btnEsportShow {
    border: 0.2vw solid rgb(201, 163, 81);
    display: inline-block;
    padding: 0.8vw 1.5vw;
    background-image: url('https://lesnews.ca/jovohiq/2025/11/18-evo-announcement-show-earlyt.webp.webp');
    background-size: cover;
    background-position: center; 
    text-decoration: none;
    text-align: center;
    border-radius: 3vw;
    font-size: 1vw;
    position : absolute;
    z-index: 3;
}

.btnImpactShow {
    border: 0.2vw solid rgb(201, 163, 81);
    display: inline-block;
    padding: 0.8vw 1.5vw;
    background-image: url('https://www.rabbits-games.fr/wp-content/uploads/2023/06/salle-arcade-retrogaming-froissy.jpg');
    background-size: cover;
    background-position: center; 
    text-decoration: none;
    text-align: center;
    border-radius: 3vw;
    font-size: 1vw;
    position : absolute;
    z-index: 3;
}

.btn2 {
    border: 0.2vw solid rgb(201, 163, 81);
    display: inline-block;
    padding: 0.8vw 1.5vw;
    background-color: rgb(254, 206, 102);
    color: white;
    text-decoration: none;
    border-radius: 3vw;
    font-size: 1vw;
    transition: transform 0.3s ease;
    position: absolute; right : 9.4vw; top : 1vw;
    z-index: 2;
}

.btn2:hover {
    transform: scale(1.05);
    background-color: rgb(222, 165, 41);
}

.btnHistoire {
    border: 0.2vw solid rgb(201, 163, 81);
    display: inline-block;
    padding: 0.8vw 1.5vw;
    background-color: rgb(254, 206, 102);
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 1vw;
    font-size: 1vw;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.btnHistoire:hover {
    transform: scale(1.03);
    background-color: rgb(222, 165, 41);
}

.btnEvolution {
    border: 0.2vw solid rgb(201, 163, 81);
    display: inline-block;
    padding: 0.8vw 1.5vw;
    background-color: rgb(254, 206, 102);
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 1vw;
    font-size: 1vw;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.btnEvolution:hover {
    transform: scale(1.03);
    background-color: rgb(222, 165, 41);
}

.btnEsport {
    border: 0.15vw solid rgb(201, 163, 81);
    display: inline-block;
    padding: 0.8vw 1.5vw;
    background-color: rgb(254, 206, 102);    
    background-position: center; 
    color: white;
    text-decoration: none;
    border-radius: 1vw;
    font-size: 1vw;
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.btnEsport:hover {
    transform: scale(1.03);
    background-color: rgb(222, 165, 41);
}

.btnImpact {
    border: 0.2vw solid rgb(201, 163, 81);
    display: inline-block;
    padding: 0.8vw 1.5vw;
    background-color: rgb(254, 206, 102);
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 1vw;
    font-size: 1vw;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.btnImpact:hover {
    transform: scale(1.03);
    background-color: rgb(222, 165, 41);
}




